header {
  text-align: center;
}

header h1 {
  position: absolute;
  top: 0;
  left: 50%;

  transform: translate(-50%, 50%);
}

/*패딩값은 태그에*/
header h1 a {
  display: block;
  width: 110px;
  height: 48px;
  color: transparent;
  background: url(/img/btn_home_black.png) no-repeat center center;
}

header .lnb {
  position: relative;
  left: 100px;
}
header .lnb ul {
  width: 210px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 20px;
}
header .lnb li {
  flex: 2;
}

header .lnb li a {
  display: block;
  height: 81px;
  font-size: 17px;
  color: #3b3b3b;
  line-height: 81px;
}

header .lnb li a span {
  position: relative;
}

header .lnb li a:hover span::before {
  position: absolute;
  bottom: -5px;
  left: 0;
  display: block;
  content: "";
  height: 1px;
  background-color: #3b3b3b;
  width: 100%;
}
#input {
  position: absolute;
  right: 260px;
  top: 28px;
  width: 200px;
  height: 30px;
  border: 1px solid #3b3b3b;
}
header .spot {
  position: absolute;
  left: 50px;
  top: 20px;
  display: flex;
}
.navi_wrap {
  width: 100%;
  height: 70%;
  position: fixed;
  left: 0px;
  top: 0px;
  background: gray;
  padding: 50px 150px;
  z-index: 1;
  box-sizing: border-box;
  display: none;
}
.navi {
  display: flex;
  width: 100%;
  height: 100%;
}
.navi > li {
  flex: 5;
  /* 각 메인 메뉴 스타일 */
}
.navi > li > a {
  /* 각 메인 메뉴의 <a> 요소 스타일 */
  line-height: 40px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
}
.navi > li:hover > a {
  color: orange;
}
.navi ul li a {
  line-height: 50px;
  font-size: 20px;
  font-weight: normal;
  text-align: center;
  color: #ffffff;
}
.navi ul li a:hover {
  color: orange;
}
header .spot > a {
  display: block;
  width: 40px;
  height: 40px;
  background: url(/assets/menu.svg) no-repeat center center;
}
header .spot .menu_closebar {
  position: absolute;
  left: 50px;
  top: 20px;
  display: block;
  width: 40px;
  height: 40px;
  background: url(/assets/close.svg) no-repeat center center;
  z-index: 1;
}
header .loginCart {
  position: absolute;
  display: flex;
  flex-direction: row;
  width: 160px;
  height: 24px;
  right: 70px;
  top: 28px;
  height: 17px;

  display: inline-block;
  box-sizing: border-box;
}
header .loginCart a {
  flex: 2;
  margin: 0 20px;
  padding-bottom: 5px;
  font-size: 17px;
  color: #3b3b3b;
}
header .loginCart a.baguni::after {
  position: absolute;
  right: -24px;
  top: -2px;
  display: block;
  content: "";
  width: 25px;
  height: 25px;
  background: url(/assets/cart.svg) no-repeat center center;
}
header .loginCart a.baguni span {
  position: absolute;
  right: -24px;
  top: 5px;
  display: block;
  content: "";
  width: 25px;
  height: 25px;
  font-size: 12px;
  color: orangered;
  font-weight: bolder;
}
header .loginCart a:hover {
  border-bottom: 1px solid #3b3b3b;
  left: 0;
  height: 1px;
}
